@tailwind base;
@tailwind components;
@tailwind utilities;



@import url('https://fonts.cdnfonts.com/css/circular-std');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.cdnfonts.com/css/circular-book');


@layer base {
    body{
        font-family: 'Circular Std', sans-serif;   
    }

    .logoName{
        font-family: 'Bebas Neue'; 
        font-size:42px
    }

    .skill{
        font-family: 'Bebas Neue'; 
        font-size:100px; 
        color: #FFCC01;

    } 
    .subTitle{
        font-family: 'Circular Std', sans-serif;   
    }
    .dropMenuList li{
        cursor: pointer; 
        padding: 15px 40px; 
    }
}